@use './files' as f;

body {
    background-color: f.$bg-color;
}
.container-first {
    max-width: 90%;
    margin: 0 auto;
}
.card {
    display: flex;
    justify-content: space-between;

    &__block:not(:first-of-type) { 
        margin-top: 20px;
    }
}
.cards-first {
    @include f.flex(column);
    min-height: 300px;
    max-width: 300px;

    .card {
        background-color: f.$white-card-color;
        color: f.$white-card-text-color;
        flex-basis: 25%;
        padding: 0 20px;

        &__title {
            font-size: map-get(f.$font-sizes, "big");
        }
        &__text {
            font-size: map-get(f.$font-sizes, "small");
        }
    }
    .card:not(:first-of-type) {
        margin-top: 20px;
    }
}

.cards-second {
    @extend .cards-first;
    .card {
        background-color: f.$black-card-color;
        color: f.$black-card-text-color;
    }
}
.cards-third {
    @extend .cards-first; // директив др селектор наслед стили друг
    .card {
        background-color: f.$black-card-color;
        color: f.$black-card-text-color;
    }
}
.cards-fourth {
    @extend .cards-first; // директив др селектор наслед стили друг
    .card {
        background-color: f.$black-card-color;
        color: f.$black-card-text-color;
    }
}

.color {
    margin: 20px 0 20px 0;
    min-height: 200px;
    background-color: mix(f.$black-color, f.$white-color);

    display: flex;
    align-items: center; 
    justify-content: center; 
    color: f.$white-card-text-color; 
}
