$red-color: red;
$bg-color: rgb(44, 44, 44);
$white-card-color: rgb(207, 207, 207);
$white-card-text-color: rgb(24, 24, 24);
$black-card-color: rgb(24, 24, 24);
$black-card-text-color: rgb(207, 207, 207);

$black-color: black;
$white-color: white;
